---
titleTag: Qualifications, Certifications, Personal Contract Experience
pageName: Qualifications
pageClass: qualifications
description: From track inspection to roadway protection, our team is qualified, certified, and has the experience for the job.
layout: 'base.njk'
---

			<div class="content-wrap">
				<div class="content-container">
					<div class="content-page">
						<div class="us-banner" style="background-image:url('/images/train-tracks.jpeg')"></div>
						<div class="us-content">
							<div class="container-fluid ms-0 mt-4">
								
								<div class="row mt-5 justify-content-center mb-4">
									<div class="col-lg-6 text-center ">
										<h1 class="mb-5">Qualifications</h1>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<ul>
											<li>CFR 213 Track Inspection</li>
											<li>CFR 214 Roadway Protection</li>
											<li>CFR CWR</li>
											<li>CFR Operating Rules</li>
											<li>Surfacing
												<ul>
													<li>Mark IV Tamers – VME, Jupiter 1, Jupiter 2</li>
													<li>Jackson 6700</li>
													<li>Plasser – Cat 09-32, Metro 4X4, Unimat 08-32</li>
													<li>Stabilizer – Harso, Plasser</li>
													<li>Regulators</li>
												</ul>
											</li>
											<li>Tie Gang and Rail Relay</li>
											<li>DHS WMD Terrorism Awareness Emergency Responder</li>
											<li>TWIC Card Certified</li>
											<li>Class A CDL Drivers</li>
											<li>Thermite Welding and Hot Work</li>
											<li>Fire Watch, Hazard Communication, Hearing Protection</li>
											<li>Arial Lift, Forklift, Fall Protection</li>
											<li>SWWP/Florida Dept. of Environmental Protection</li>
											<li>2002 Silver Railroad Safety Award, 2003 Gold Railroad Safety Award</li>
											<li>Emerging Small Business (DBE Status Processing)</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<div class="row">
											<div class="col-md-6">
												<a href="/images/certification-1.jpeg" target="_blank"><img src="/images/certification-1.jpeg" alt="Contractor Safety Award" class="img-fluid" /></a>
											</div>
											<div class="col-md-6 mt-4 mt-md-0">
												<a href="/images/certification-2.jpeg" target="_blank"><img src="/images/certification-2.jpeg" alt="Contractor Safety Award" class="img-fluid" /></a>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 mt-4">
												<a href="/images/certification-3.jpeg" target="_blank"><img src="/images/certification-3.jpeg" alt="WMD Awareness Certificate" class="img-fluid" /></a>
											</div>
											<div class="col-md-6 mt-4">
												<a href="/images/certification-4.jpeg" target="_blank"><img src="/images/certification-4.jpeg" alt="Basic Track Inspection" class="img-fluid" /></a>
											</div>
										</div>
																				
									</div>
								</div>
								
								<div class="row mt-5">
									<div class="col-lg-6">
										<h2 class="mb-4">Personnel Contract Experience</h2>
										<ul>
											<li class="mb-2"><strong>Class 1 Railroads</strong> - BNSF/UPRR/FEC/CN/FWWR/SDNR</li>
											<li class="mb-2"><strong>Passenger Service</strong> - Mertrolink/Amtrak/Brightline/Texrail/Tri-Rail/DCTA</li>
											<li class="mb-2"><strong>Trolley Systems</strong> – Sacramento/LA-Long Beach, Ca./San Diego Trolley/DART</li>
											<li class="mb-2"><strong>Ports of Entry</strong> – Terminal Island, CA./Long Beach, CA./
												Military Installations – Yermo/ Nebo/ Vandenberg AFB SLC-6/ Edwards AFB Titan IV Missile Project/ Seal Beach Naval Weapons Station, Port Hueneme Naval Base/ Cape Canaveral</li>
											<li class="mb-2"><strong>Refineries/Chemical Plants</strong> – Dow, Exxon, Conoco, Arco</li>
											<li><strong>Theme Parks</strong> – Disneyland, Knotts Berry Farm, M. Jackson’s Neverland Ranch</li>
</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<img src="https://via.placeholder.com/800x500?text=Placeholder" class="img-fluid" />
										
									</div>
								</div>
								
							</div>
						</div>
					</div>