---
titleTag: Railroad Contractor for Mainline, Short Line, and LRT | USRS Florida
pageName: Services
pageClass: services
description: We provide new construction, track inspection, ROW protection, surfacing and maintenance services for the entire railroad industry. We are committed to excellence and dedicated to customer service.
layout: 'base.njk'
---

			<div class="content-wrap">
				<div class="content-container">
					<div class="content-page">
						<div class="us-banner" style="background-image:url('/images/train-tracks.jpeg')"></div>
						<div class="us-content">
							<div class="container-fluid ms-0 mt-4">
								
								<div class="row mt-5 justify-content-center mb-4">
									<div class="col-lg-6 text-center ">
										<h1>Our Services</h1>
										<p>United States Railroad Services, Inc. specializes in mainline, short line and LRT railroad services with vast knowledge in port of entry terminals, chemical plants, refineries and military installations. We provide new construction, track inspection, ROW protection, surfacing and maintenance services for the entire railroad industry. We are committed to excellence and dedicated to customer service.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<ul>
											<li>Railroad Track Construction </li>
											<li>Railroad Maintenance</li>
											<li>Railroad Track Inspection (Class 1 thru 5)</li>
											<li>Railroad Turnout/Derail Inspection</li>
											<li>EIC/POC Track Protection</li>
											<li>Crane Rail Inspection and Maintenance</li>
											<li>Thermite Welding</li>
											<li>CWR Laying/Destress</li>
											<li>FEMA Restoration</li>
											<li>Derailment Investigation</li>
											<li>Facility/Property Railroad Safety Compliance Audits</li>
											<li>Probably/Cause/Risk Matrix (PCR Reports)</li>
											<li>Notification of changing regulations</li>

										</ul>
										<h3>Additional Services on a scheduled basis</h3>
										<ul>
											<li>Track Surfacing</li>
											<li>Annual Budget Preparation</li>
											<li>Ultrasound Rail Flaw Detection</li>
											<li>Consulting</li>
											<li>Grapple Truck</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<img src="https://via.placeholder.com/800x500?text=Placeholder" class="img-fluid" />
										
									</div>
								</div>
								
							</div>
						</div>
					</div>